$body: rgba(
  $color: #121226,
  $alpha: 1,
);

$header: rgba(
  $color: #121226,
  $alpha: 1,
);

$main: rgba(
  $color: #9a7aef,
  $alpha: 1,
);

$main-border: rgba(
  $color: #9a7aef,
  $alpha: 0.5,
);

$nav: rgba(
  $color: #1c1c3b,
  $alpha: 1,
);

$main-blue: rgba(
  $color: #9a7aef,
  $alpha: 1,
);

$main-blue-border: rgba(
  $color: #9a7aef,
  $alpha: 0.5,
);

$component-bg: rgba(
  $color: #1c1c3b,
  $alpha: 1,
);

$main-component-bg: rgba(
  $color: #1c1c3b,
  $alpha: 1,
);

$button-bg: rgba(
  $color: #373779,
  $alpha: 1,
);

$primary-button: rgba(
  $color: #131327,
  $alpha: 1,
);

$primary-button-hover: rgba(
  $color: #0ac2af,
  $alpha: 1,
);

$input-bg: rgba(
  $color: #44447c,
  $alpha: 1,
);

$primary-input-text: rgba(
  $color: #ffffff,
  $alpha: 1,
);

// TABLE
$table-title: rgba(
  $color: #1c1c3b,
  $alpha: 1,
);

$table-border: rgba(
  $color: #9a7aef,
  $alpha: 0.2,
);

$table-row: rgba(
  $color: #1c1c3b,
  $alpha: 1,
);

$table-hover: rgba(
  $color: #1c1c3b,
  $alpha: 1,
);

$table-promotion: rgba(
  $color: #1c1c3b,
  $alpha: 1,
);

$table-promotion-hover: rgba(
  $color: #1c1c3b,
  $alpha: 1,
);

// COLORS
$premium: rgba(
  $color: #b951ff,
  $alpha: 1,
);

$green: rgba(
  $color: #9bff74,
  $alpha: 1,
);

$red: rgba(
  $color: #ff7474,
  $alpha: 1,
);
